node_modules
dist
.turbo
.next
*.env.local
*.env.*.local
.env
coverage
*.log
.DS_Store
Thumbs.db
.expo
android
ios/Pods
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
.gradle
local.properties
